<template name="homeAbout">
	<h1>About</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia animi doloribus dolorem provident fuga quaerat saepe ad voluptatibus eius eveniet alias minus ipsum illum unde sapiente voluptate, repellat atque culpa.</p>
	<br>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia animi doloribus dolorem provident fuga quaerat saepe ad voluptatibus eius eveniet alias minus ipsum illum unde sapiente voluptate, repellat atque culpa.</p>
	<br>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia animi doloribus dolorem provident fuga quaerat saepe ad voluptatibus eius eveniet alias minus ipsum illum unde sapiente voluptate, repellat atque culpa.</p>
	<br>
</template>