<template name="homeContact">
	<div class="container">
		<h1>Contact me Today!</h1>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quidem eveniet, iste eum maxime accusantium? Incidunt aspernatur molestiae rem quia iste itaque obcaecati, at officiis esse aliquam? Illo, nihil! Excepturi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis nostrum atque hic in unde sunt, dolorem aperiam iure alias possimus. Reprehenderit porro, sunt perferendis beatae soluta ipsam harum aperiam?</p>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quidem eveniet, iste eum maxime accusantium? Incidunt aspernatur molestiae rem quia iste itaque obcaecati, at officiis esse aliquam? Illo, nihil! Excepturi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis nostrum atque hic in unde sunt, dolorem aperiam iure alias possimus. Reprehenderit porro, sunt perferendis beatae soluta ipsam harum aperiam?</p>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quidem eveniet, iste eum maxime accusantium? Incidunt aspernatur molestiae rem quia iste itaque obcaecati, at officiis esse aliquam? Illo, nihil! Excepturi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis nostrum atque hic in unde sunt, dolorem aperiam iure alias possimus. Reprehenderit porro, sunt perferendis beatae soluta ipsam harum aperiam?</p>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quidem eveniet, iste eum maxime accusantium? Incidunt aspernatur molestiae rem quia iste itaque obcaecati, at officiis esse aliquam? Illo, nihil! Excepturi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate omnis nostrum atque hic in unde sunt, dolorem aperiam iure alias possimus. Reprehenderit porro, sunt perferendis beatae soluta ipsam harum aperiam?</p>
			<br>
	</div>
</template>