<template name="homeIndex">
  <div class="cover">
    <div class="clearfix"></div>
  </div>
  <div class="container welcome">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>Welcome to<br>The Rocket Shop</h1>
          <p class="lead">
            To Mars With You...and Beyond!
          </p>
        </div>
      </div>
      <hr/>
    </div>
  </div>

  <div class="container marketing">
    <div class="row">

    {{#each featured}}

      {{> productTile this}}

    {{/each}}
    
    </div>
  </div>

</template>